header {

}

nav { 

}

main { 

}

h1 {
    font-family: 'Kulim Park', sans-serif;
}
body {
    background-image: url ("https://i.ibb.co/sWWHctj/IMG-2757.jpg" alt="IMG-2757" border="0");
    font-family: 'Kulim Park', sans-serif;
}